@import '../nebular/themes';

$nb-enabled-themes : (devops);


@import "bc-forms";
@import "ub-forms";

@include bc-forms();
@include ub-forms();


.transparent-backdrop {
  background-color : transparent;
}

* {
  outline : none;
}
