
.disable-amplify-feature .step-type-option.customAsyncCode {
  display : none;
}

.no-arrow .arrow {
  display : none;
}

.space {
  flex-wrap : wrap;
  display   : flex;
}

.right {
  margin-left : auto;
}

.left {
  margin-right : auto;
}

.direction-row {
  flex-direction : row;
  display: flex;
}

.direction-column {
  flex-direction : column;
  display: flex;
}

.space-container {
  align-content : stretch;
  align-items   : stretch;
}

.flex-wrap {
  flex-wrap : wrap;
}

.flex-nowrap {
  flex-wrap : nowrap;
}