.nb-theme-dark :host {
  padding: 0
}

.nb-theme-dark :host nb-accordion[class] nb-accordion-item-body .item-body {
  display: flex
}

.nb-theme-dark :host ub-position-group-settings-field {
  flex-grow: 1;
  justify-content: space-around;
  border-bottom: 1px solid #313642;
  padding: .315rem .25rem
}

.nb-theme-dark :host ub-position-group-settings-field:first-child {
  border-right: 1px solid #313642
}

.nb-theme-dark :host .full-width {
  width: 100%
}
