.nb-theme-dark :host {
  display: flex;
  width: 300px
}

.nb-theme-dark :host .subtitle-2 {
  color: #959dad
}

.nb-theme-dark :host nb-list-item {
  padding: .375rem 1rem
}

.nb-theme-dark :host nb-list-item.first-hosting {
  padding-bottom: 0;
  border-bottom: 0
}

.nb-theme-dark :host nb-list-item:last-child {
  padding-bottom: .75rem
}
