.nb-theme-dark :host {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative
}

.nb-theme-dark :host ub-components-tree-panel, .nb-theme-dark :host ub-page-panel {
  min-height: 12rem
}

.nb-theme-dark :host ub-components-tree-panel {
  margin-top: -.5rem
}

.nb-theme-dark :host .separator {
  height: 1rem;
  z-index: 2;
  cursor: row-resize;
  display: flex;
  align-items: center;
  background-color: transparent
}

.nb-theme-dark :host .separator div {
  height: 1px;
  width: 100%;
  background-color: #313642
}
