.hubsport-order-form-card {
  min-width: 22rem
}

.hubsport-order-form-card nb-card-header {
  font-size: 22px;
  line-height: 32px;
  font-weight: 700;
  padding-bottom: 0;
  position: relative
}

.hubsport-order-form-card nb-card-header nb-icon {
  position: absolute;
  top: .5rem;
  right: .5rem
}

.hubsport-order-form-card nb-card-body {
  padding-bottom: 0
}
