<tri-card [bordered]="false">
  <tri-card-header>
    Create A {{projectType}} Project
  </tri-card-header>

  <tri-card-body>
    <form tri-form layout="vertical" (submit)="create()" [formGroup]="project" class="bc-form">
      <tri-form-field labelOrientation="vertical" style="width:100%">
        <tri-label>Project name *</tri-label>
        <input
          #input
          triInput
          triTrim
          name="name"
          fullWidth
          placeholder="My new project"
          formControlName="name"
          [maxlength]="20"
        />
        <tri-hint align="start">
          <ng-container *ngIf="name.dirty && name.errors">
              <span *ngIf="name.errors?.taken" class="form-error-message">
                <tri-icon svgIcon="outline:warning"></tri-icon>
                Name is already taken!
              </span>
            <span *ngIf="name.errors?.notEnoughChars" class="form-error-message">
                <tri-icon svgIcon="outline:warning"></tri-icon>
                Name should contain at least 4 letters!
              </span>
            <span *ngIf="name.errors?.tooManyChars" class="form-error-message">
                <tri-icon svgIcon="outline:warning"></tri-icon>
                Name should not contain more than 250 symbols!
              </span>
          </ng-container>
        </tri-hint>
        <tri-hint align="end">{{input.value?.length || 0}}/20</tri-hint>
      </tri-form-field>

      <!-- <div class="form-control-group no-errors">
         <label class="form-control-label">Application type *</label>
         <nb-select
           id="input-role"
           shape="rectangle"
           placeholder="Select your application type"
           formControlName="type"
           outline
           fullWidth
         >
           <nb-option value="Marketplace">Marketplace</nb-option>
           <nb-option value="Admin panel">Admin panel</nb-option>
           <nb-option value="Social Network">Social Network</nb-option>
           <nb-option value="CRM">CRM</nb-option>
           <nb-option value="CMS">CMS</nb-option>
           <nb-option value="Other">Other</nb-option>
         </nb-select>
       </div>-->

      <tri-form-item>
        <tri-form-label class="form-control-label" for="name">
          Description
        </tri-form-label>
        <tri-form-control>
          <textarea
            triTextarea
            triTrim
            fullWidth
            name="name"
            placeholder="Optional"
            formControlName="description"
            id="description"
            style="resize: none;"
          ></textarea>
        </tri-form-control>
        <span class="form-control-message-container">
          <ng-container *ngIf="description.dirty && description.errors">
            <span *ngIf="description.errors?.notEnoughChars" class="form-error-message">
              <nb-icon pack="eva" icon="alert-triangle"></nb-icon>
              Name should contain at least 4 letters!
            </span>
            <span *ngIf="description.errors?.tooManyChars" class="form-error-message">
              <nb-icon pack="eva" icon="alert-triangle"></nb-icon>
              Name should not contain more than 250 symbols!
            </span>
          </ng-container>
        </span>
      </tri-form-item>
    </form>
  </tri-card-body>
  <tri-card-footer class="">
    <button triButton type="button" (click)="cancel()">Cancel</button>
    <button triButton type="submit" [disabled]="project.invalid" color="primary" (click)="create()">Create</button>
  </tri-card-footer>
</tri-card>
