<nb-layout>
  <nb-layout-column>
    <section class="container">
      <picture class="not-found">
        <source srcset="assets/not-found.png 1x, assets/not-found@2x.png 2x" type="image/png"/>

        <img src="assets/not-found.png" srcset="assets/not-found@2x.png 2x"/>
      </picture>

      <h2 class="text-control">Page not found</h2>

      <p class="text-control">
        We can’t find the page you’re looking for.
        <br/>
        You can either return to the previous page, visit Homepage or
        <br/>
        contact our support team.
      </p>

      <div class="nav-links">
        <a routerLink="/" nbButton status="primary">visit homepage</a>
        <a href="mailto:support@uibakery.io" nbButton outline status="primary">contact us</a>
      </div>
    </section>
  </nb-layout-column>
</nb-layout>
