<tri-card [loading]="deleteLoading$ | async">
  <tri-card-header>
    Delete from your projects?
  </tri-card-header>

  <tri-card-body>
    <form (submit)="delete()" class="bc-form">
      <div class="form-control-groupl">
        <label class="form-control-label" for="project">
          Type project name <span class="text-danger">{{ project.name }}</span> below
        </label>
        <input triInput fullWidth triTrim name="name" [(ngModel)]="name" id="project"/>
      </div>

      <div class="form-actions-group-inline component-list-margin-sm">
        <button triButton type="button" (click)="cancel()">Cancel</button>
        <button triButton type="submit" color="danger" [disabled]="!this.validNameEntered()">Delete</button>
      </div>
    </form>
  </tri-card-body>
</tri-card>
