

@mixin forms() {
  bc-input-icon.show-icon nb-icon.status-basic,
  bc-input-icon.show-icon nb-icon[nbInput],
  bc-password-input-icon.show-icon nb-icon.status-basic,
  bc-password-input-icon.show-icon nb-icon[nbInput] {
    color: #959dad;
  }

  bc-input-icon.show-icon nb-icon.status-basic.disabled, bc-input-icon.show-icon nb-icon.disabled[nbInput],
  bc-password-input-icon.show-icon nb-icon.status-basic.disabled,
  bc-password-input-icon.show-icon nb-icon.disabled[nbInput] {
    color: rgba(149, 157, 173, 0.48);
  }

  bc-input-icon.show-icon nb-icon.status-primary,
  bc-password-input-icon.show-icon nb-icon.status-primary {
    color: #959dad;
  }

  bc-input-icon.show-icon nb-icon.status-primary.disabled,
  bc-password-input-icon.show-icon nb-icon.status-primary.disabled {
    color: rgba(149, 157, 173, 0.48);
  }

  bc-input-icon.show-icon nb-icon.status-success,
  bc-password-input-icon.show-icon nb-icon.status-success {
    color: #959dad;
  }

  bc-input-icon.show-icon nb-icon.status-success.disabled,
  bc-password-input-icon.show-icon nb-icon.status-success.disabled {
    color: rgba(149, 157, 173, 0.48);
  }

  bc-input-icon.show-icon nb-icon.status-warning,
  bc-password-input-icon.show-icon nb-icon.status-warning {
    color: #959dad;
  }

  bc-input-icon.show-icon nb-icon.status-warning.disabled,
  bc-password-input-icon.show-icon nb-icon.status-warning.disabled {
    color: rgba(149, 157, 173, 0.48);
  }

  bc-input-icon.show-icon nb-icon.status-danger,
  bc-password-input-icon.show-icon nb-icon.status-danger {
    color: #959dad;
  }

  bc-input-icon.show-icon nb-icon.status-danger.disabled,
  bc-password-input-icon.show-icon nb-icon.status-danger.disabled {
    color: rgba(149, 157, 173, 0.48);
  }

  bc-input-icon.show-icon nb-icon.status-info,
  bc-password-input-icon.show-icon nb-icon.status-info {
    color: #959dad;
  }

  bc-input-icon.show-icon nb-icon.status-info.disabled,
  bc-password-input-icon.show-icon nb-icon.status-info.disabled {
    color: rgba(149, 157, 173, 0.48);
  }

  bc-input-icon.show-icon nb-icon.status-control,
  bc-password-input-icon.show-icon nb-icon.status-control {
    color: #ffffff;
  }

  bc-input-icon.show-icon nb-icon.status-control.disabled,
  bc-password-input-icon.show-icon nb-icon.status-control.disabled {
    color: #ffffff;
  }

  bc-input-icon.show-icon nb-icon.size-tiny,
  bc-password-input-icon.show-icon nb-icon.size-tiny {
    font-size: 1.25rem;
  }

  bc-input-icon.show-icon nb-icon.size-tiny.left,
  bc-password-input-icon.show-icon nb-icon.size-tiny.left {
    left: 0.875rem;
  }

  bc-input-icon.show-icon nb-icon.size-tiny.right,
  bc-password-input-icon.show-icon nb-icon.size-tiny.right {
    right: 0.875rem;
  }

  bc-input-icon.show-icon nb-icon.size-tiny,
  bc-input-icon.show-icon nb-icon.size-tiny svg,
  bc-password-input-icon.show-icon nb-icon.size-tiny,
  bc-password-input-icon.show-icon nb-icon.size-tiny svg {
    width: 1.25rem;
    height: 1.25rem;
  }

  bc-input-icon.show-icon.icon-left .size-tiny[nbInput],
  bc-password-input-icon.show-icon.icon-left .size-tiny[nbInput] {
    padding-left: calc(1.25rem + 0.875rem + 0.875rem);
  }

  bc-input-icon.show-icon.icon-right .size-tiny[nbInput],
  bc-password-input-icon.show-icon.icon-right .size-tiny[nbInput] {
    padding-right: calc(1.25rem + 0.875rem + 0.875rem);
  }

  bc-input-icon.show-icon nb-icon.size-small,
  bc-password-input-icon.show-icon nb-icon.size-small {
    font-size: 1.25rem;
  }

  bc-input-icon.show-icon nb-icon.size-small.left,
  bc-password-input-icon.show-icon nb-icon.size-small.left {
    left: 0.875rem;
  }

  bc-input-icon.show-icon nb-icon.size-small.right,
  bc-password-input-icon.show-icon nb-icon.size-small.right {
    right: 0.875rem;
  }

  bc-input-icon.show-icon nb-icon.size-small,
  bc-input-icon.show-icon nb-icon.size-small svg,
  bc-password-input-icon.show-icon nb-icon.size-small,
  bc-password-input-icon.show-icon nb-icon.size-small svg {
    width: 1.25rem;
    height: 1.25rem;
  }

  bc-input-icon.show-icon.icon-left .size-small[nbInput],
  bc-password-input-icon.show-icon.icon-left .size-small[nbInput] {
    padding-left: calc(1.25rem + 0.875rem + 0.875rem);
  }

  bc-input-icon.show-icon.icon-right .size-small[nbInput],
  bc-password-input-icon.show-icon.icon-right .size-small[nbInput] {
    padding-right: calc(1.25rem + 0.875rem + 0.875rem);
  }

  bc-input-icon.show-icon nb-icon.size-medium,
  bc-password-input-icon.show-icon nb-icon.size-medium {
    font-size: 1.25rem;
  }

  bc-input-icon.show-icon nb-icon.size-medium.left,
  bc-password-input-icon.show-icon nb-icon.size-medium.left {
    left: 0.875rem;
  }

  bc-input-icon.show-icon nb-icon.size-medium.right,
  bc-password-input-icon.show-icon nb-icon.size-medium.right {
    right: 0.875rem;
  }

  bc-input-icon.show-icon nb-icon.size-medium,
  bc-input-icon.show-icon nb-icon.size-medium svg,
  bc-password-input-icon.show-icon nb-icon.size-medium,
  bc-password-input-icon.show-icon nb-icon.size-medium svg {
    width: 1.25rem;
    height: 1.25rem;
  }

  bc-input-icon.show-icon.icon-left .size-medium[nbInput],
  bc-password-input-icon.show-icon.icon-left .size-medium[nbInput] {
    padding-left: calc(1.25rem + 0.875rem + 0.875rem);
  }

  bc-input-icon.show-icon.icon-right .size-medium[nbInput],
  bc-password-input-icon.show-icon.icon-right .size-medium[nbInput] {
    padding-right: calc(1.25rem + 0.875rem + 0.875rem);
  }

  bc-input-icon.show-icon nb-icon.size-large,
  bc-password-input-icon.show-icon nb-icon.size-large {
    font-size: 1.25rem;
  }

  bc-input-icon.show-icon nb-icon.size-large.left,
  bc-password-input-icon.show-icon nb-icon.size-large.left {
    left: 0.875rem;
  }

  bc-input-icon.show-icon nb-icon.size-large.right,
  bc-password-input-icon.show-icon nb-icon.size-large.right {
    right: 0.875rem;
  }

  bc-input-icon.show-icon nb-icon.size-large,
  bc-input-icon.show-icon nb-icon.size-large svg,
  bc-password-input-icon.show-icon nb-icon.size-large,
  bc-password-input-icon.show-icon nb-icon.size-large svg {
    width: 1.25rem;
    height: 1.25rem;
  }

  bc-input-icon.show-icon.icon-left .size-large[nbInput],
  bc-password-input-icon.show-icon.icon-left .size-large[nbInput] {
    padding-left: calc(1.25rem + 0.875rem + 0.875rem);
  }

  bc-input-icon.show-icon.icon-right .size-large[nbInput],
  bc-password-input-icon.show-icon.icon-right .size-large[nbInput] {
    padding-right: calc(1.25rem + 0.875rem + 0.875rem);
  }

  bc-input-icon.show-icon nb-icon.size-giant,
  bc-password-input-icon.show-icon nb-icon.size-giant {
    font-size: 1.25rem;
  }

  bc-input-icon.show-icon nb-icon.size-giant.left,
  bc-password-input-icon.show-icon nb-icon.size-giant.left {
    left: 0.875rem;
  }

  bc-input-icon.show-icon nb-icon.size-giant.right,
  bc-password-input-icon.show-icon nb-icon.size-giant.right {
    right: 0.875rem;
  }

  bc-input-icon.show-icon nb-icon.size-giant,
  bc-input-icon.show-icon nb-icon.size-giant svg,
  bc-password-input-icon.show-icon nb-icon.size-giant,
  bc-password-input-icon.show-icon nb-icon.size-giant svg {
    width: 1.25rem;
    height: 1.25rem;
  }

  bc-input-icon.show-icon.icon-left .size-giant[nbInput],
  bc-password-input-icon.show-icon.icon-left .size-giant[nbInput] {
    padding-left: calc(1.25rem + 0.875rem + 0.875rem);
  }

  bc-input-icon.show-icon.icon-right .size-giant[nbInput],
  bc-password-input-icon.show-icon.icon-right .size-giant[nbInput] {
    padding-right: calc(1.25rem + 0.875rem + 0.875rem);
  }

  .bc-form .form-control-group:not(:last-child) {
    display: block;
    margin-bottom: 0.5rem;
  }

  .bc-form .form-control-group:not(:last-child).no-errors {
    margin-bottom: calc(0.75rem + 1rem);
  }

  .bc-form .form-row > *,
  .bc-form .form-row-margin-sm > * {
    flex: 1 0 auto;
  }

  .bc-form .form-control-label {
    display: block;
    color: #565c6b;
    margin: 0 0 0.5rem;
  }

  .bc-form .form-legend,
  .bc-form .form-control-description {
    display: block;
    margin: 0 0 1.5rem;
  }

  .bc-form .form-error-message,
  .bc-form .form-success-message,
  .bc-form .form-warning-message {
    display: block;
    margin: 0.25rem 0 0;
  }

  .bc-form .form-error-message nb-icon:first-child,
  .bc-form .form-success-message nb-icon:first-child,
  .bc-form .form-warning-message nb-icon:first-child {
    margin-right: 0.1rem;
  }

  .bc-form .form-control-message-container:empty {
    display: block;
    margin: 0.25rem 0 0;
    min-height: 1rem;
  }

  .bc-form .form-error-message {
    color: #ef4e3c;
  }

  .bc-form .form-success-message {
    color: #08db96;
  }

  .bc-form .form-warning-message {
    color: #e8ba06;
  }

  .bc-form .form-actions-group,
  .bc-form .form-actions-group-inline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .bc-form .form-actions-group-inline {
    flex-direction: row;
    align-items: center;
  }

  .bc-form .form-action:not(:first-child) {
    margin: 1.5rem 0 0;
  }

  .bc-form .form-actions-group-inline .form-action:not(:first-child) {
    margin: 0 0 0 0.5rem;
  }

  .bc-form .form-secondary-action {
    color: #959dad;
  }
}


