<tri-card>
  <tri-card-header>
    <span>添加角色</span>
  </tri-card-header>
  <tri-card-body>
    <form autocomplete="off" tri-form labelSize="100">
      <tri-form-item>
        <tri-form-label>role code</tri-form-label>
        <tri-form-control>
          <input [(ngModel)]="formData.roleCode" tri-input name="roleCode" />
        </tri-form-control>
      </tri-form-item>
      <tri-form-item>
        <tri-form-label>name</tri-form-label>
        <tri-form-control>
          <input [(ngModel)]="formData.name" tri-input name="name" />
        </tri-form-control>
      </tri-form-item>
      <tri-form-item>
        <tri-form-label>description</tri-form-label>
        <tri-form-control>
          <input tri-input [(ngModel)]="formData.description" type="textarea" name="description" placeholder="请输入内容" />
        </tri-form-control>
      </tri-form-item>
    </form>
  </tri-card-body>
  <tri-card-footer>
    <button triButton>Save</button>
  </tri-card-footer>
</tri-card>