

:host {
  .preview-container {
    padding: 1rem;
    margin-bottom: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../../../../assets/cell.svg")
  }

 .preview {
    width: 5rem;
    height: 5rem;
    background-color: #fff
  }

 .input-container {
    display: flex;
    align-items: center
  }

 .input-container input {
    margin-left: 1rem;
    width: 6rem
  }

}
