.nb-theme-dark :host {
  display: flex
}

.nb-theme-dark :host .select-container {
  display: flex;
  flex-direction: column;
  flex: 1
}

.nb-theme-dark :host .select-container:first-of-type {
  margin-right: 1rem
}

.nb-theme-dark :host .select-container nb-select button, .nb-theme-dark :host .select-container nb-select {
  width: 100%;
  min-width: 6rem
}
