<input
  type="text"
  #input
  [value]="value"
  [class]="getInputWidthClass()"
  (input)="onValueChange(input.value)"
  (keydown.arrowUp)="addToValue(singleStep)"
  (keydown.shift.arrowUp)="addToValue(doubleStep)"
  (keydown.control.arrowUp)="addToValue(tripleStep)"
  (keydown.arrowDown)="addToValue(-singleStep)"
  (keydown.shift.arrowDown)="addToValue(-doubleStep)"
  (keydown.control.arrowDown)="addToValue(-tripleStep)"
  (focusout)="resetToLatestValueIfInvalid()"
/>

<span
  [nbPopover]="unitOptionsList"
  nbPopoverPlacement="bottom"
  nbPopoverAdjustment="vertical"
  nbPopoverOffset="2"
  nbPopoverClass="no-arrow"
  class="unit"
><!--
keep this comment to avoid extra whitespace
-->{{ unit }}
</span>

<ng-template #unitOptionsList>
  <bc-input-unit-list [unitList]="unitOptions" (updateUnit)="onUnitChange($event)"></bc-input-unit-list>
</ng-template>
