<form class="bc-form" [formGroup]="form" (ngSubmit)="add()">
  <tri-card>
    <tri-card-header>
      <tri-icon svgIcon="workbench:domain-add"></tri-icon>
      <span>Add Custom Domain</span></tri-card-header>
    <tri-card-body>
      <div class="form-control-group">
        <div>
          <label class="form-control-label" for="domain">Your domain</label>
          <div class="input-wrapper">
            <input triInput fullWidth triTrim placeholder="Domain name" formControlName="domain" id="name" />
            <button triButton color="primary" [disabled]="form.invalid">Add Domain</button>
          </div>

          <span class="form-control-message-container">
            <ng-container *ngIf="form.dirty">
              <p class="form-error-message" *ngIf="domain.errors?.invalidDomain">
                <tri-icon svgIcon="alert-triangle"></tri-icon>
                Domain is invalid!
              </p>
            </ng-container>
          </span>
        </div>
      </div>
    </tri-card-body>
  </tri-card>
</form>
