.nb-theme-dark :host {
  display: block;
  flex-grow: 1
}

.nb-theme-dark :host .action-block {
  width: 100%;
  display: flex;
  justify-content: center
}

.nb-theme-dark :host .action-block.conditional-add-step-action {
  justify-content: space-between
}

.nb-theme-dark :host .action-block.conditional-add-step-action ub-step-list-action {
  width: 48%
}

.nb-theme-dark :host .step-container {
  display: flex;
  flex-direction: column;
  align-items: center
}

.nb-theme-dark :host .step-container:first-child ub-step-list-item {
  margin-top: 0
}

.nb-theme-dark :host ub-step-list-item {
  display: flex;
  position: relative;
  width: 100%;
  margin: .3rem 0
}

.nb-theme-dark :host ub-step-list-item.selected:not(.nested):after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 18px;
  right: -23px;
  padding: 6px;
  border: solid #313642;
  border-width: 0 1px 1px 0;
  transform: rotate(135deg);
  background-color: #15171f
}
