.nb-theme-dark :host {
  display: flex;
  align-items: center;
  color: #47c256;
  padding-left: .5rem;
  font-family: Roboto, sans-serif;
  font-weight: 800;
  font-size: .6875rem
}

.nb-theme-dark :host .notification {
  width: .375rem;
  height: .375rem;
  border-radius: 50%;
  background-color: #47c256;
  margin-top: -.5rem;
  margin-left: .25rem
}
