.file-input {
  display: none
}

.upload-wrapper {
  display: flex
}

.upload-wrapper .upload-button {
  margin: 0 1rem .5rem 0
}

.upload-wrapper .description {
  max-width: 29rem
}

.button-wrapper {
  display: flex
}

.validation-wrapper {
  margin-left: 1rem
}
