<tri-card>
  <tri-card-body>
    <h2 class="h5 heading">Delete domain assignment?</h2>
    <p>
      Are you sure you want to delete this domain assignment? It will take up to
      <span class="text-danger">8 hours</span> to release the domain and re-assign it back to UI Bakery.
    </p>
    <div class="actions component-list-margin-sm">
      <button triButton type="button" (click)="cancel()">Cancel</button>
      <button triButton type="submit" color="danger" (click)="delete()">Delete</button>
    </div>
  </tri-card-body>
</tri-card>
