<!--<div class="layout-wrapper">-->

<!--  <dt-app-topbar></dt-app-topbar>-->
<!--  <dt-app-sidebar></dt-app-sidebar>-->

<!--  <div class="layout-content">-->
<!--    <router-outlet></router-outlet>-->
<!--  </div>-->
<!--</div>-->

<div>
  <tri-navbar>

  </tri-navbar>
</div>
<tri-layout>
  <tri-header fixed>
    <div class="d-flex justify-content-between w-100">

      <app-navbar></app-navbar>

      <div size="small">

        <div style="padding-right: 0" icon="person-outline"></div>
        <div style="padding-left: 0" [title]="userAccountName$|async">
          <div>
            <div>
              {{userAccountName$|async}}
            </div>
            <div>
              {{realName$|async}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </tri-header>

  <div>
    <dt-app-sidebar></dt-app-sidebar>
  </div>
  <tri-layout-content>
    <router-outlet></router-outlet>
  </tri-layout-content>

  <!--  <nb-layout-footer>-->
  <!--    -->
  <!--  </nb-layout-footer>-->
</tri-layout>

<!--
<d-layout>
  <d-header>
    <div class="logo">
      <span class="logo-devui">
&lt;!&ndash;        <img [src]="logoSrc" width="26px" height="26px" />&ndash;&gt;
        <dt-app-topbar></dt-app-topbar>
      </span>
      <span class="text">DevUI</span>


    </div>
  </d-header>
  <d-layout>
    <d-aside>
      <dt-app-sidebar></dt-app-sidebar>
      &lt;!&ndash;      <d-accordion [data]="menu" class="menu"></d-accordion>&ndash;&gt;
    </d-aside>
    <d-content>
      &lt;!&ndash;
      <d-breadcrumb>
      <d-breadcrumb-item>
        <span>DevUI</span>
      </d-breadcrumb-item>
      <d-breadcrumb-item>
        <span>面包屑</span>
      </d-breadcrumb-item>
    </d-breadcrumb>
    &ndash;&gt;
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </d-content>
  </d-layout>
  <d-footer>footer</d-footer>
</d-layout>
-->
