<h3>权限码配置</h3>



<form tri-form [layout]="'horizontal'">
  <div class="grid">
    <div class="u-1-4">
      <tri-form-item>
        <tri-form-label>权限码</tri-form-label>
        <tri-form-control><input triInput name="permissionCode" [(ngModel)]="formData.permissionCode"/></tri-form-control>
      </tri-form-item>
    </div>
    <div class="u-1-4">
      <tri-form-item>
        <tri-form-label>权限码描述</tri-form-label>
        <tri-form-control><input triInput name="permissionDescription" [(ngModel)]="formData.permissionDescription"/></tri-form-control>
      </tri-form-item>
    </div>
    <div class="u-1-3">
      <tri-form-item>
        <button triButton class="m-1" (click)="onSearch()">搜索</button>
        <button triButton class="m-1" (click)="onImportPermissionCodes()">导入权限码</button>
      </tri-form-item>
    </div>
  </div>
</form>
<tri-data-table [dataSource]="dataSource"
  [pageSize]="pager.pageSize"
  [pageIndex]="pager.pageIndex"
  (dataStateChange)="refresh($event)"
>
  <tri-data-table-column [field]="'permissionCodeId'" [title]="'权限码ID'" width="80px"></tri-data-table-column>
  <tri-data-table-column [field]="'permissionCodeName'" [title]="'权限码'" width="300px">

  </tri-data-table-column>
  <tri-data-table-column [field]="'permissionDescription'" [title]="'权限码描述'" width="250px"></tri-data-table-column>
  <tri-data-table-column *ngFor="let it of permissionRoles" [field]="it.roleCode" [title]="it.name">
    <ng-template triGridCellTemplate let-cellItem="cellItem" let-column="column" let-rowItem="rowItem">
      <div class="cell-toggle">
        <div [nbPopover]="customTemplate" style="width: 20px; height: 20px">
          <ng-template [ngIfElse]="elseTpl" [ngIf]="cellItem?.roleId">
            <nb-icon icon="checkmark-outline" status="success"></nb-icon>
          </ng-template>
          <ng-template #elseTpl>
            <nb-icon icon="close-outline" status="danger"></nb-icon>
          </ng-template>

          <ng-template #customTemplate>
            <button triButton
                    (click)="onToggle(rowItem.permissionCodeName, column.field, cellItem?.roleId ? false: true)"
                      [size]="'sm'"
                      color="primary">变更
            </button>
          </ng-template>
        </div>
      </div>
    </ng-template>

  </tri-data-table-column>
</tri-data-table>
