:host {
  width: 23rem;
  border-radius: .25rem;
  cursor: pointer
}

.delete-shadow:host {
  box-shadow: 0 0 0 .125rem #f5846b
}

.edit-shadow:host {
  box-shadow: 0 0 0 .125rem #66e6fb
}


::ng-deep .tri-card.project-card {
  background: #f7f9fc;
  transition: background-color .16s ease-in;
  &:hover {
    background: #edf1f7
  }

  > .tri-card-head {
    height: 200px !important;
    padding:0;
    position: relative;
    overflow: hidden
  }

  > .tri-card-body {
    padding: 1rem !important;
    border-top: .0625rem solid #edf1f7
  }
}

.project-thumb {
  //position: absolute;
  //top: 0;
  //left: 0;
  width: 100%;
  height: 205px
}

.project-info {
  height: 3rem;
  display: flex;
  align-items: center;
}

.info {
  margin-right: 1rem
}

.project-menu {
  margin-left: auto
}

.lock-container {
  background: rgba(149, 157, 173, .4);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .1s ease-in
}

.lock-container:hover {
  background: #f7f9fc;
  justify-content: flex-start;
  align-items: flex-start
}

.lock-container:hover .lock-icon {
  display: none
}

.lock-container:hover .lock-description {
  display: block;
  padding: 1rem
}

.lock-icon {
  background: #fff;
  border-radius: .25rem;
  color: #959dad;
  font-size: 2rem;
  padding: .4rem
}

.lock-description {
  display: none
}

.lock-description .icon, .lock-description .text {
  display: block
}

.lock-description .icon {
  margin-bottom: 1rem
}

.lock-description .icon nb-icon {
  font-size: 1rem
}
