<button class="bakery-button dashboard-link" (click)="gotoProjects()" triButton variant="text" ghost title="Dashboard">
  <tri-icon svgIcon="workbench:logo-small" class="home"></tri-icon>
</button>

<!--<len-toggle-structure-panel [class.visible]="showProjectSettings"></len-toggle-structure-panel>-->
<!--<len-tutorial-mode-container></len-tutorial-mode-container>-->

<!--<len-workflow-state-manager-button [class.visible]="showStateManagerButton"></len-workflow-state-manager-button>-->

<div class="header-controls centered">
  <len-breakpoints-container [class.visible]="showBreakpoints"></len-breakpoints-container>
</div>

<div class="header-controls end">
  <len-data-notification></len-data-notification>
  <tri-divider variant="vertical"></tri-divider>
  <len-history [mode]="mode"></len-history>
  <tri-divider variant="vertical"></tri-divider>
  <len-preview-link [mode]="mode"></len-preview-link>
  <tri-divider variant="vertical"></tri-divider>
  <len-share-button></len-share-button>
  <tri-divider variant="vertical"></tri-divider>
  <len-download></len-download>
  <tri-divider variant="vertical"></tri-divider>
  <len-deploy *ngIf="canUseHosting"></len-deploy>
</div>
