@import 'global/scss/mixins/breakpoints';


:host {
  position: relative;
  width: 100%;
  height: 100%;
  padding-right: .2rem;
  //border-bottom: 1px solid #313642;

  &, & .header-controls {
    display: flex;
    align-items: center
  }

  .header-controls.centered {
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
  }

  .header-controls.end {
    margin-left: auto
  }

  .dashboard-link {
    border-radius: 0;
    height: 100%;
    width: 2.5rem;
    border-bottom: none
  }

  .dashboard-link, & .dashboard-link:focus, & .dashboard-link:hover {
    border-right: 1px solid #313642
  }

  .dashboard-link bc-icon {
    position: relative;
    top: -1px
  }

  & len-breakpoints-container,
  & len-data-unavailability-notice,
  & len-toggle-structure-panel,
  & len-workflow-state-manager-button {
    display: none;
    pointer-events: none
  }

  & len-breakpoints-container.visible,
  & len-data-unavailability-notice.visible,
  & len-toggle-structure-panel.visible,
  & len-workflow-state-manager-button.visible {
    display: flex;
    pointer-events: auto
  }

  .divider {
    border-right: .0625rem solid #97a7cc;
    align-self: stretch;
    margin: -.1875rem 0
  }

  @media (max-width: 62.5rem) {
    .header-controls.centered {
      position: relative;
      left: 0;
      transform: none;
      flex: 1;
      align-items: center;
      justify-content: center
    }
  }

  @media (max-width: 47.5rem) {
    & len-data-notification {
      display: none
    }
  }

  @media (max-width: 40rem) {
    & len-download {
      display: none
    }
  }

  @media (max-width: 30rem) {
    .dashboard-link, & len-share-button {
      display: none
    }
  }

}
