

:host {
  display: flex;
  flex-direction: column;
  background-color: #232730;
  border-radius: .1875rem;

  .link-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: .5rem 1rem;
    border-bottom: 1px solid #313642
  }

  .share-label {
    font-size: .6875rem;
    color: #959dad
  }

  .share-link {
    font-size: .6875rem;
    text-overflow: ellipsis;
    color: #959dad;
    background: transparent;
    border: none;
    line-height: 1.5;
    padding: 0;
    cursor: text
  }

  .share-link.disabled {
    color: rgba(149, 157, 173, .48)
  }

  nb-checkbox {
    transition: opacity .3s ease-in
  }

  nb-checkbox .label {
    padding: .5rem 1rem
  }

  nb-checkbox .text {
    line-height: 1.5;
    font-size: .6875rem;
    color: #959dad
  }

  nb-checkbox.disabled {
    opacity: .6
  }

  .loading {
    position: absolute;
    top: .5rem;
    right: .5rem;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite
  }

  bc-icon svg {
    width: 1rem;
    height: 1rem;
    fill: #fff
  }

  @-webkit-keyframes spin {
    0% {
      transform: rotate(0deg)
    }
    40% {
      transform: rotate(230deg)
    }
    to {
      transform: rotate(1turn)
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg)
    }
    40% {
      transform: rotate(230deg)
    }
    to {
      transform: rotate(1turn)
    }
  }

}
