app-template {
  cursor: pointer
}

.title {
  margin: .5rem 1.5rem .2rem;
  font-size: 1rem
}

div.form-group {
  padding: 0 1.5rem 1.25rem
}

div.form-group .label {
  display: inline-block;
  margin-bottom: .5rem
}

div.form-group .description {
  color: #959dad;
  font-size: .6875rem;
  line-height: 1rem;
  margin: 0 0 .5rem
}
