<div
  class="saturation-lightness"
  ubColorSlider
  [rgX]="1"
  [rgY]="1"
  [style.height.px]="areaHeight"
  [style.width.px]="areaWidth"
  [style.background-color]="hueSliderColor"
  (newValue)="onSaturationChange($event)"
>
  <div
    class="cursor"
    [style.height.px]="slCursorWidth"
    [style.width.px]="slCursorWidth"
    [style.top.px]="slider.v"
    [style.left.px]="slider.s"
  ></div>
</div>

<div class="hue-preview">
  <len-color-preview [color]="selectedColor"></len-color-preview>
  <div class="hue" ubColorSlider [style.width.px]="hueWidth" [rgX]="1" (newValue)="onHueChange($event)">
    <div class="cursor" [style.width.px]="hueCursorWidth" [style.left.px]="slider.h"></div>
  </div>
</div>

<div class="text-inputs">
  <label class="color-input">
    <input
      class="hex-input"
      nbInput
      maxlength="7"
      [ngModel]="hexText"
      (ngModelChange)="onHexInput($event)"
      (blur)="onHexInput(null)"
    />
    HEX
  </label>

  <label class="color-input">
    <input
      class="with-arrow"
      triInput
      [ngModel]="hText"
      (ngModelChange)="onHueInput($event)"
      type="number"
      max="360"
      min="0"
      maxlength="3"
    />
    H
    <div class="arrows-container">
      <button triButton ghost class="basic" size="tiny" (click)="onHueInput(+hText + 1)">
        <tri-icon svgIcon="arrow-up"></tri-icon>
      </button>
      <button nbButton ghost class="basic" size="tiny" (click)="onHueInput(+hText - 1)">
        <tri-icon svgIcon="arrow-down"></tri-icon>
      </button>
    </div>
  </label>

  <label class="color-input">
    <input
      class="with-arrow"
      nbInput
      [ngModel]="sText"
      (ngModelChange)="onSaturationInput($event)"
      type="number"
      max="100"
      min="0"
      maxlength="3"
    />
    S
    <div class="arrows-container">
      <button triButton ghost class="basic" size="tiny" (click)="onSaturationInput(+sText + 1)">
        <tri-icon icon="arrow-up"></tri-icon>
      </button>
      <button triButton ghost class="basic" size="tiny" (click)="onSaturationInput(+sText - 1)">
        <tri-icon icon="arrow-down"></tri-icon>
      </button>
    </div>
  </label>

  <label class="color-input">
    <input
      class="with-arrow"
      triInput
      [ngModel]="vText"
      (ngModelChange)="onValueInput($event)"
      type="number"
      max="100"
      min="0"
      maxlength="3"
    />
    B
    <div class="arrows-container">
      <button triButton ghost class="basic" size="tiny" (click)="onValueInput(+vText + 1)">
        <tri-icon icon="arrow-up"></tri-icon>
      </button>
      <button triButton ghost class="basic" size="tiny" (click)="onValueInput(+vText - 1)">
        <tri-icon icon="arrow-down"></tri-icon>
      </button>
    </div>
  </label>
</div>
