.nb-theme-dark :host {
  width: 296px;
  height: 459px;
  position: relative;
  right: 1.5rem;
  border-radius: .25rem;
  overflow: hidden;
  box-shadow: 0 0 16px -4px rgba(21, 23, 31, .7);
  background-color: #15171f;
  border-color: #313642
}

.nb-theme-dark :host .controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1rem 1rem
}

.nb-theme-dark :host nb-tabset.sub-tabs .tabset[class] .tab[class] .tab-link {
  padding: .75rem .25rem;
  border-top: none;
  border-left: none
}

.nb-theme-dark :host nb-tabset.sub-tabs .tabset[class] .tab[class]:last-child .tab-link {
  border-right: none
}

.nb-theme-dark :host nb-tabset nb-tab {
  height: 365px;
  overflow: auto
}
