

:host {
  position: absolute;
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background-color: #15171f;


  .upgrade-link-container {
    margin: .5rem 1rem 1rem
  }

  & ub-palette-settings,
  & ub-shape-settings,
  & ub-text-editor {
    border-top: 1px solid #313642;
    display: block
  }

  .theme-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #313642
  }

  .theme-name {
    margin: 0 1rem;
    font-size: .8125rem;
    font-weight: 700;
    color: #959dad
  }

  .back-button.icon-end:not(.icon-start) {
    text-transform: none;
    font-size: .8125rem;
    font-weight: 700
  }

  & .back-button.icon-end:not(.icon-start) nb-icon,
  & .back-button.icon-end:not(.icon-start) svg {
    width: 1.5rem;
    height: 1.5rem
  }

  .coming-soon-label {
    border-top: 1px solid #313642;
    padding: .5rem 1rem;
    color: #fff;
    font-size: .8125rem
  }

  nb-accordion-item-body:not(.no-padding) > div > :first-child {
    padding-top: 1rem
  }

  .label {
    color: #959dad;
    font-size: .6875rem;
    font-weight: 400
  }

  .description {
    display: inline-block;
    margin-bottom: 1rem
  }

  .back-button.icon-end:not(.icon-start) nb-icon {
    margin-left: 0
  }

  & .back-button.icon-end:not(.icon-start) nb-icon,
  & .back-button.icon-end:not(.icon-start) nb-icon svg {
    width: 2rem;
    height: 2rem
  }

  nb-tabset.settings-tabset[class] > .tabset[class] {
    margin: .75rem .5rem
  }

  nb-tabset.settings-tabset[class] > .tabset[class] .tab.active[class] {
    background-color: #313642
  }

  & nb-tabset.settings-tabset[class] > .tabset[class] .tab.active[class],
  & nb-tabset.settings-tabset[class] > .tabset[class] .tab.active[class] .tab-link[class] {
    color: #fff
  }

  nb-tabset.settings-tabset[class] > .tabset[class] .tab[class] {
    flex: 1;
    margin: 0 .25rem;
    border-radius: .25rem;
    background-color: #232730
  }

  nb-tabset.settings-tabset[class] > .tabset[class] .tab.disabled {
    opacity: .5
  }

  nb-tabset.settings-tabset[class] > .tabset[class] .tab[class] .tab-link[class] {
    flex-direction: column;
    padding: .25rem;
    font-size: .6875rem;
    font-weight: 700;
    color: #959dad
  }

  nb-tabset.settings-tabset[class] > .tabset[class] .tab[class] .tab-link[class]:before {
    display: none
  }

  nb-tabset.settings-tabset[class] > .tabset[class] .tab[class] .tab-link[class] nb-icon + span {
    margin-top: .1rem;
    margin-left: 0;
    margin-right: 0
  }

}
