:host {
  display: block;
  width: 100%;
  cursor: pointer
}

.heading {
  margin: 0 0 1rem
}

div {
  position: relative;
  height: 12rem;
  padding: 0 1.5625rem;
  width: 100%;
  display: flex;
  align-items: center
}

div.selected {
  background-color: #313642
}

div img {
  width: 100%;
  border-radius: .25rem;
  height: 10.5rem
}

nb-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem
}
