app-template {
  cursor: pointer
}

.title {
  margin: .5rem 1.5rem .2rem;
  font-size: 1rem
}

div.form-group {
  padding: 0 1.5rem;
  margin-bottom: 1.25rem
}

div.form-group .label {
  line-height: 1rem
}

div.form-group input {
  margin-bottom: .5rem;
  background-color: #313642
}

div.form-group input:first-of-type {
  margin-top: .5rem
}

div.form-group input:last-of-type {
  margin-bottom: 0
}
