

:host {
  justify-content: space-between;
  margin-bottom: 1rem;

  &,
  & .input-container {
    display: flex;
    align-items: center
  }

  input[nbInput].size-medium {
    max-width: 5.5rem;
    margin: 0 .5rem
  }

  label {
    color: #fff;
    font-size: .6875rem;
    font-weight: 400
  }

  .lock[nbButton].basic.appearance-ghost:not([disabled]).disabled.locked {
    opacity: .5
  }

  & .lock[nbButton].basic.appearance-ghost:not([disabled]).locked:hover svg,
  & .lock[nbButton].basic.appearance-ghost:not([disabled]):hover svg {
    fill: #959dad
  }

  & .lock[nbButton].basic.appearance-ghost:not([disabled]).locked:active svg,
  & .lock[nbButton].basic.appearance-ghost:not([disabled]).locked:focus svg,
  & .lock[nbButton].basic.appearance-ghost:not([disabled]).locked svg {
    fill: #ffc94d
  }

  & .lock[nbButton].basic.appearance-ghost:not([disabled]):active svg,
  & .lock[nbButton].basic.appearance-ghost:not([disabled]):focus svg {
    fill: #fff
  }

}
