<nb-card>
  <nb-card-header>
    <bc-icon [name]="icon"></bc-icon>
    <span>{{ host }}</span>
    <div class="status-wrapper">
      <span class="status-text published" *ngIf="isPublished; else neverPublishedStatus">
        <span>&#9679; Published</span>
      </span>
      <ng-template #neverPublishedStatus>
        <span class="status-text">
          Never Published
        </span>
      </ng-template>
      <span *ngIf="isPublished" class="caption-2"> {{ hosting.publishedDeploymentDate | distanceToNow }} ago</span>
    </div>

    <button
      ghost
      class="delete"
      *ngIf="!isDevEnvironment"
      (click)="deleteDomain()"
      nbButton
      [disabled]="isLoading"
      aria-label="delete domain"
    >
      <nb-icon icon="trash-2"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body>
    <nb-alert *ngFor="let error of errors" status="danger" outline="danger">
      <nb-icon pack="eva" icon="alert-circle" class="alert-icon"></nb-icon>
      {{ error }}
    </nb-alert>
    <nb-alert
      *ngIf="!hosting.configured && errors.length === 0 && !isLoading"
      class="no-margin"
      status="primary"
      outline
    >
      Please add the following record to your Domain Provider DNS settings.
    </nb-alert>

    <table *ngIf="!hosting.configured" class="paragraph-2">
      <thead>
      <tr>
        <th>Type</th>
        <th>Name</th>
        <th>Value</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>CHAME/ANAME/ALIAS</td>
        <td>{{ host }}</td>
        <td>{{ value }}</td>
        <td class="status">
          <button
            nbButton
            class="status-secondary"
            size="small"
            (click)="check()"
            [disabled]="isLoading"
            [nbSpinner]="checkStatusLoading"
          >
            Check Status
          </button>
        </td>
      </tr>
      </tbody>
    </table>

    <table *ngIf="hosting.configured" class="paragraph-2">
      <thead>
      <tr>
        <th>Environment</th>
        <th>Domain</th>
        <th class="status">Status</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td>{{ hosting.environment }}</td>
        <td>{{ host }}</td>
        <td class="status configured">
            <span class="status-text">
              <bc-icon name="checkmark-outline"></bc-icon>
              <span>Connected</span>
            </span>
        </td>
      </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>
