<nb-card
  [nbSpinner]="changePlanLoading$ | async"
  nbSpinnerStatus="primary"
  [class.pointer-disabled]="changePlanLoading$ | async"
>
  <nb-card-body>
    <h2 class="h5 heading-margin-bottom">Change Plan</h2>

    Are you sure you want to change your plan to
    <span class="p-bolder">{{ plan.title }}</span>
    plan for
    <span class="p-bolder">$&nbsp;{{ plan.price }}&nbsp;/&nbsp;{{ periodName }}</span>
    ?

    <div class="actions component-list-margin-sm component-top-margin">
      <button nbButton (click)="closeDialog()">Cancel</button>
      <button nbButton status="primary" (click)="changePlan()">Upgrade</button>
    </div>
  </nb-card-body>
</nb-card>
