<div style="display: flex;flex-direction: column; gap: 1rem;">
  <div
    style="height: 150px; background: #1a9cff; display: flex; align-items: center; justify-content: center; gap: 1rem">
    <tri-input-group size="lg" style="width: auto">
      <input tri-input style="width: 350px" placeholder="按应用名称搜索" />
      <button size="large" style="height: 40px" tri-button>Search</button>
      <button size="large" style="height: 40px" tri-button>Create</button>
    </tri-input-group>
    <button triButton (click)="onToggleSidebar()"></button>

    <span class="create-button-wrapper">
      <button (click)="openCreateProjectDialog('backend')" triButton color="primary">
        创建后端项目
      </button>

      <button class="ml-2" (click)="openCreateProjectDialog('frontend')" triButton color="success">
        创建前端项目
      </button>
    </span>
  </div>
  <div
    style="display: flex;justify-content: center; align-items: center; flex-direction: column;">
    <div
      style="display: flex;flex-wrap: wrap;
          gap: 1rem;
          max-width: 1048px;
          min-width: 600px;">

      <tri-card style="width: 250px" *ngFor="let it of projects$ | async as projects">
        <tri-card-header>
          <div style="display: flex; align-items: center">
            <tri-tag color="blue">{{it.projectType === 'backend' ? 'B' : 'F'}}</tri-tag>
            <h3 style="margin:0">{{it.name}}</h3>
          </div>
        </tri-card-header>
        <tri-card-body>
          <div>这是块的内容</div>
          <div>这是块的内容</div>
          <div>这是块的内容</div>
        </tri-card-body>
        <tri-card-actions>
          <tri-button-group>
            <button triButton variant="text" color="primary">
              <tri-icon svgIcon="outline:share-alt"></tri-icon>
            </button>
            <button triButton variant="text" color="primary" (click)="openProject(it)">
              <tri-icon svgIcon="outline:edit"></tri-icon>
            </button>
            <button triButton variant="text" color="primary">
              <tri-icon svgIcon="outline:cloud-upload"></tri-icon>
            </button>
            <button triButton variant="text" color="primary">
              <tri-icon svgIcon="outline:setting"></tri-icon>
            </button>
          </tri-button-group>
        </tri-card-actions>
      </tri-card>
    </div>

    <tri-pagination></tri-pagination>
  </div>
</div>

<!--
<div
  *ngIf="projects$ | async as projects"
  nbSpinnerStatus="primary"
  [nbSpinner]="projectsLoading$ | async"
  class="spinner-container"
>
  <ng-container *ngIf="!(projectsLoading$ | async)">
    <div *ngIf="projects.length" [@projectEnterLeave]="projects.length" class="component-list">
      <len-project *ngFor="let project of projects; let i = index"
                   [project]="project" (open)="openProject($event)">
      </len-project>
    </div>

    <div *ngIf="!projects.length" class="no-projects component-list" @noProjectEnter>
&lt;!&ndash;      <img class="no-projects-image" src="assets/no-projects.svg" alt="" role="presentation"/>&ndash;&gt;
      <span class="no-projects-message text-hint">
        还没有创建项目
      </span>
    </div>
  </ng-container>
</div>
-->

