<ub-subheader>
  <a nbButton ghost routerLink="../" aria-label="back" class="back-button">
    <nb-icon icon="arrow-back"></nb-icon>
  </a>
  <h1 class="h5 page-heading">{{ (project$ | async)?.name }}</h1>

  <span class="action-buttons-wrapper">
    <button (click)="deleteProject()" nbButton aria-label="delete project">
      <nb-icon icon="trash-2"></nb-icon>
    </button>
    <a [routerLink]="builderLink$ | async" *ngIf="builderLink$ | async" nbButton status="primary">
      Edit in Builder
    </a>
  </span>
</ub-subheader>

<div
  class="content-wrapper"
  [class.pointer-disabled]="loading$ | async"
  [nbSpinner]="loading$ | async"
  nbSpinnerStatus="primary"
>
  <nb-route-tabset [tabs]="tabs$ | async"></nb-route-tabset>
</div>
