

:host {
  display: flex;
  flex-direction: column;


 .logo {
    height: 168px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: #313642
  }

 .logo.active {
    background-color: #15171f
  }

 .logo img {
    -o-object-fit: contain;
    object-fit: contain;
    width: 100%;
    height: 100%
  }

 .logo img[src=""] {
    opacity: 0
  }

 .upload-icon {
    padding: 2rem;
    box-sizing: content-box;
    font-size: 2.25rem;
    color: #fff;
    cursor: pointer
  }

 .upload-icon:hover {
    color: #959dad
  }

 .color-label {
    margin: 1rem 1rem .25rem;
    font-weight: 700;
    color: #fff;
    font-size: .6875rem
  }

 .color-block {
    display: flex;
    margin: 0 1rem 1rem
  }

 ub-color-preview {
    margin-right: .375rem
  }

 .upload-button.appearance-ghost.size-medium {
    margin: 1rem;
    padding: .375rem;
    font-size: .6875rem;
    background-color: #313642;
    text-transform: none
  }

 .upload-button.appearance-ghost.size-medium:active, .nb-theme-dark :host .upload-button.appearance-ghost.size-medium:focus, .nb-theme-dark :host .upload-button.appearance-ghost.size-medium:hover {
    background-color: #313642;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, .3)
  }

 .upload-button.appearance-ghost.size-medium nb-icon svg {
    width: 1rem;
    height: 1rem
  }

 .hidden-input {
    visibility: hidden
  }

 .error {
    padding: .5rem 1rem;
    font-size: .6875rem;
    color: #ff4070
  }

}
