.nb-theme-dark :host .bakery-button bc-icon.success svg {
  fill: #47c256
}

.nb-theme-dark :host .bakery-button bc-icon.error svg {
  fill: #ff4070
}

.nb-theme-dark :host .bakery-button {
  width: 38px;
  height: 34px
}
