<div class="wrapper">
  <div class="d-flex mb-4">
    <!--    <d-button class=""><i class="icon icon-copy"></i>添加计划任务</d-button>-->
  </div>

  <div class="mb-4">
    <tri-alert [type]="'info'" [showIcon]="false" [closeable]="false">
      <ul *triAlertDescription>
        <li>cron 表达式 在线编辑地址 <a class="text-decoration-underline" href="https://crontab.guru/"
                               target="_blank">https://crontab.guru/</a>
        </li>
        <li>cron 表达式 支持 秒 <a class="text-decoration-underline" target="_blank"
                             href="https://github.com/node-cron/node-cron">https://github.com/node-cron/node-cron</a>
        </li>
      </ul>
    </tri-alert>
  </div>

  <form tri-form ngForm style="width: 800px">
    <tri-form-item>
      <tri-form-label>Trigger Type</tri-form-label>
      <tri-form-control>
        计划任务-CRON
      </tri-form-control>
    </tri-form-item>
    <tri-form-item *ngFor="let trigger of triggers$ | async">
      <tri-form-label>计划任务</tri-form-label>
      <tri-form-control>

        <div class="d-flex">
          <input triInput name="name" style="width: 120px;margin-right: -1px" placeholder="任务名"
                 [(ngModel)]="trigger.properties.name" (ngModelChange)="updateTrigger()"/>
          <input triInput name="cron" [(ngModel)]="trigger.properties.cron" (ngModelChange)="updateTrigger()"/>

          <nb-select placeholder="select" [selected]="getSelect(trigger)" (selectedChange)="select(trigger, $event)">
            <nb-option *ngFor="let action of searchOptions$ | async"
                       [value]="action.id"> {{ action.displayValue }}</nb-option>
          </nb-select>
        </div>
      </tri-form-control>
    </tri-form-item>
  </form>

  <form>
    <tri-form-item>
      <tri-form-label>Path</tri-form-label>
      <tri-form-control>
        <input triInput value="/path/${slug}">
      </tri-form-control>
    </tri-form-item>

    <tri-form-item>
      <tri-form-label>Slug</tri-form-label>
      <tri-form-control>
        <input triInput value="slug">
      </tri-form-control>
    </tri-form-item>

    <tri-form-item>
      <tri-form-label>Request Body</tri-form-label>
      <tri-form-control>
        <input triInput value="Request Body">
      </tri-form-control>
    </tri-form-item>
  </form>

  <h6>Use Websocket Event</h6>
  <form tri-form ngForm>
    <tri-form-item>
      <tri-form-label>Websocket Gateway</tri-form-label>
      <tri-form-control>
        <input triInput value="url">
      </tri-form-control>
    </tri-form-item>
  </form>

  <h6>Use Microservice</h6>
  TBD

</div>
<!--
<form dForm>
  <d-form-item>
    <d-form-label>标签</d-form-label>
    <d-form-control><input name="tags" [(ngModel)]="tags"/></d-form-control>
  </d-form-item>
</form>
-->