<tri-card [loading]="updateLoading$ | async"
          style="width: 500px"
>
  <tri-card-header>
    Update your project
  </tri-card-header>
  <tri-card-body>
    <form (submit)="update()" class="bc-form">
      <div class="form-control-group">
        <label class="form-control-label" for="project">Project name</label>
        <input
          triInput
          triTrim
          fullWidth
          name="name"
          placeholder="My project"
          [formControl]="name"
          id="project"
        />
        <span class="form-control-message-container">
          <ng-container *ngIf="name.dirty && name.errors">
            <span *ngIf="name.errors?.taken" class="form-error-message">
              <tri-icon icon="alert-triangle"></tri-icon>
              Name is already taken!
            </span>
            <span *ngIf="name.errors?.notEnoughChars" class="form-error-message">
              <tri-icon icon="alert-triangle"></tri-icon>
              Name should contain at least 4 letters!
            </span>
            <span *ngIf="name.errors?.tooManyChars" class="form-error-message">
              <tri-icon icon="alert-triangle"></tri-icon>
              Name should not contain more than 250 symbols!
            </span>
          </ng-container>
        </span>
      </div>

    </form>
  </tri-card-body>
  <tri-card-footer>
    <button triButton type="button" (click)="cancel()">Cancel</button>
    <button triButton type="submit" [disabled]="name.errors" color="primary">Update</button>
  </tri-card-footer>
</tri-card>
