<div style="display: flex" triDropContainerGroup>
  <div style="width: 200px">
    <div triDragContainer [triDragContainerConnectedTo]="connectedTo">

      <button *ngFor="let it of components"
              tri-button
              triDrag
              [triDragData]="it"
              style="transition:none">
        {{it.label}}
      </button>
    </div>
  </div>
  <div style="flex: 1">
    <kitchen-page3 [pageData]="pageData"
                   (transferArrayItem)="onTransferArrayItem($event)"
                   (moveItemInArray)="onMoveItemInArray($event)"
                   (dropContainersChange)="onDropContainersChange($event)"
    ></kitchen-page3>
  </div>
</div>
